@{
    var photoPath = $"/images/{Model.PhotoPath ?? "noimage.png"}";
    var ShowButtons = (bool)ViewData["ShowButtons"];
}
<div class="card-deck">
    <div class="card m-3 cardBoxShadow">
        <div class="card-header text-center cardHeaderStyle">
            <h3>@Model.Name</h3>
        </div>
        <div class="text-center cardBodyStyle">
            <img class="card-img-top imageThumbnail" src="@photoPath" asp-append-version="true" />
        </div>
        @if (ShowButtons)
        {
            <div class="card-footer text-center">
                <a asp-page="/Books/Details" asp-route-ID="@Model.Id" class="btn btn-success m-1 buttonShadowGreen">Szczegóły</a>
                <a asp-page="/Books/Edit" asp-route-ID="@Model.Id" class="btn btn-primary m-1 buttonShadowBlue">Edytuj</a>
                <a asp-page="/Books/Delete" asp-route-ID="@Model.Id" class="btn btn-danger m-1 buttonShadowRed">Usunąć</a>
            </div>
        }
    </div>
</div>
